<div class="container">
  <div class="jumbotron mt-3">
    <h1>Bienvenidos a angular</h1>
    <br>
    <app-entradas></app-entradas>
    <app-estructura></app-estructura>
    <app-atributos></app-atributos>
    <app-formularios></app-formularios>
   <!--  <div class="row">
      <div class="col-6">
        <app-entradas></app-entradas>
      </div>
      <div class="col-6">
        <app-estructura></app-estructura>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-atributos></app-atributos>
      </div>
      <div class="col-6">
        <app-formularios></app-formularios>
      </div>
    </div> -->



  </div>
</div>
